div.grid {
    display: grid;
    place-items: center;
    grid-gap: 4rem;
    margin-bottom: 2.5rem;
}

header.header {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

/* div.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.iconContainer a {
    margin-right: 9.5em;
}

div.iconContainer img.iconLogin {
    width: 10em;
    height: 10em;
    position: absolute;
    top: 5em;
    z-index: 1;
} */

form.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    width: fit-content;
    height: fit-content;
    /* padding: 4.5em 0 2.5em 0; */
    position: relative;
}

fieldset.formGroup {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

label.formLabel {
    font-size: 1.5em;
    font-weight: 550;
    color: var(--aux);
    text-align: center;
}

input.inputLogin:is([type=email], [type=password]) {
    border: none;
    border-bottom: 2px solid var(--aux);
    padding: 1em 1.5em;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

input.inputLogin:focus:is([type=email], [type=password]) {
    outline: none;
    caret-color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

span.formInputError, span.passwordEmptyError {
    font-size: 1.2em;
    color: var(--error-color);
    font-weight: 500;
    text-align: center;
    inline-size: 25ch;
    overflow-wrap: break-word;
}

span.formInputError {
    display: none;
}

.formValidationStatusSuccess, .formValidationStatusError {
    position: absolute;
    right: 1em;
    top: 1.65em;
    font-size: 1.2em;
    z-index: 1;
    opacity: 0;
}

/* ///////////////////////////////////////////////////////// */

/* VALIDATION SECTION */

input.inputLogin[type=email]:is(:not(:placeholder-shown):valid) + .formValidationStatusSuccess{
    opacity: 1;
    color: var(--success-color);
}

input.inputLogin[type=email]:is(:not(:placeholder-shown):invalid) ~ .formValidationStatusError {
    opacity: 1;
    color: var(--error-color);
}

@supports selector(:has(*)) {
    fieldset:has(input.inputLogin:focus) label {
        color: var(--accent-color);
    }
    
    fieldset:has(input.inputLogin[type=email]:is(:not(:placeholder-shown):valid)) > label {
        color: var(--success-color);
    }
    
    fieldset:has(input.inputLogin[type=email]:is(:not(:placeholder-shown):invalid)) > label {
        color: var(--error-color);
    }
    
    div.formInputLogin:has(input.inputLogin[type=email]:is(:not(:focus)):invalid:not(:placeholder-shown)) span.formInputError {
        display: block;
    }
}

input.inputLogin[type=email]:is(:not(:placeholder-shown):valid) {
    border-bottom: 2px solid var(--success-color);
    caret-color: var(--success-color);
}

input.inputLogin[type=email]:is(:not(:placeholder-shown):invalid) {
    border-bottom: 2px solid var(--error-color);
    caret-color: var(--error-color);
}

/* * @note: shake after deselect an input */
input.inputLogin[type=email]:is(:not(:focus)):invalid:not(:placeholder-shown) {
    animation: shake 0.5s;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}

/* ///////////////////////////////////////////////////////// */

span.newAccount {
    text-align: center;
    font-size: 1.2rem;
}

span.newAccount a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

span.newAccount a:active {
    text-decoration: underline;
}

form.form footer.formFooterLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.formBtnSubmitLogin {
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    width: 85%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
